extends ./_partials/layout-full.pug
include ./components/object-card.pug


block vars
  - bodyClass = 'index'

block main

  main

    .hero-box.homepage.section-padding(data-component="hero-box")

      .title-container.columns

        .column.is-half-desktop
          h1.typo-main-title Aplikace MDH Mapa
          p.typo-subtitle Zde bude krátké a jasné představení aplikace,pro koho aplikace je určena a co uživatelé v aplikaci najdou. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.

          a.button(href="about-us.html") Více o projektu


      .footer-container

        .columns.is-mutiline-mobile.is-desktop

          .footer-container-section.footer-container-section-goals.column.is-half-desktop
            h2.typo-hero-box-subtitle Cíl Aplikace

            .content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .footer-container-section.column.is-one-quarter-desktop
            h2.typo-hero-box-subtitle Funkcionality

            .content
              p
                ul
                  li Interaktivní prohlížení objektů v časovém i geografickém kontext
                  li Tvorba vlastních map pomocí našich datových informací
                  li Přehledný seznam map a objektů ze sbírky Muzea dělnického hnutí

          .footer-container-section.column.is-one-quarter-desktop
            h2.typo-hero-box-subtitle Autoři

            .content
              p
                ul
                  li Interaktivní prohlížení objektů v časovém i geografickém kontext
                  li Tvorba vlastních map pomocí našich datových informací
                  li Přehledný seznam map a objektů ze sbírky Muzea dělnického hnutí


      .background


    section.section.section-padding(data-component="section")

      h1.typo-section-title.is-section-title Interaktivní historie na mapách

      h2.typo-subtitle.is-section-title Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.

      .list-in-section(data-component="list-map")

        .container-items.columns.is-multiline

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half

            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")



            h3.typo-subtitle.list-map-item-title test Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík


          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
                .map-item-action

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half

            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/maps/map-thumb-image.jpg" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík


        a.button.button-more(href="list-maps.html") Všechny mapy


    section.section.section-padding.alt-bg(data-component="section")

      h1.typo-section-title.is-section-title podívejte se na objekty sbírky mdh

      h2.typo-subtitle.is-section-title Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.

      .list-in-section(data-component="list-objects")

        .cards-container

          - const features = topografie_pameti_julius_fucik.features;
          - const mapSettings = topografie_pameti_julius_fucik.mapSettings;
          - let i = 190;
          - const limit = i + 80;

          each objekt in features

            if (i < limit)

              +object-card(features[i])

            - i = i + 1



        a.button.button-more(href="list-objects.html") Všechny objekty


      aside.banner.banner-large.banner-save-objects-promo

        .banner-image

          img(src="assets/images/banner-icon-add-to-bookmark.svg")


        .banner-text
          h3.typo-section-title uložte si mapy a objekty a dále s nimi pracujte
          p.typo-subtitle Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.


      aside.banner.banner-about

        .banner-text

          h3.typo-section-title O našem projektu

          p.typo-subtitle Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.


        .banner-image

          img(src="assets/images/box.svg")
