extends ./_partials/layout-full.pug

block vars
  - bodyClass = 'index'

block main

  main

    .page-content.page-content-map-detail-homepage

      .header
        .header-figure

          ul.header-figure-types
            li.timeline
              img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
            li.objects
               img(src="assets/images/icons/icon-view-switch-objects-large.svg")
            li.map
               img(src="assets/images/icons/icon-view-switch-map-large.svg")


          ul.header-figure-actions
            li.bookmark
              img(src="assets/images/icons/icon-bookmark-large.svg")

          img.header-figure-image(src="assets/images/maps/map-homepage-main-dummy.png")

        .header-content

          .header-content-text

            h1.main-title Topografie paměti – Julius Fučík

            p Julius Fučík, komunistický novinář a odbojář, se těsně po druhé světové válce stal národním hrdinou symbolizujícím vzdor vůči okupantům. Jeho Reportáž, psaná na oprátce, sepsaná v prostředí Pankrácké věznice nedlouho před popravou, se stala základním textem vysvětlujícím zážitek ilegální činnosti v období protektorátu. Skrze osobnost Julia Fučíka měla společnost v režimu socialistické diktatury oficiálně vzpomínat na vítězství v druhé světové válce.

            p.goals Cílem této mapy je poukázat na významná místa spojena s kultem  utvořeným kolem osoby levicového intelektuála, jenž byl komunistickou stranou uzurpován jako mocný symbol šíření ideologické propagandy.

            .section-content-text
              h2.section-content-text-title Mapu vytvořili

              .authors

                .author
                  .author-image
                    img(src="assets/images/dummy/profile-image-dummy.png" alt="Jméno")
                  .author-bio
                    .name Mgr. Jana Nováková, Ph.D.
                    .what-they-did Texty, tvorba mapy
                    .institution Ústav pro studium totalitních režimů

                .author
                  .author-image
                    img(src="assets/images/dummy/profile-image-dummy-male.png" alt="Jméno")
                  .author-bio
                    .name Mgr. Jan Novák, Ph.D.
                    .what-they-did Texty, didaktika
                    .institution Ústav pro studium totalitních režimů

                .author
                  .author-image
                    img(src="assets/images/dummy/profile-image-dummy-female-2.png" alt="Jméno")
                  .author-bio
                    .name Mgr. Kateřina Nová, Ph.D.
                    .what-they-did Archív muzea dělnického hnutí
                    .institution Národní muzeum

          .header-button

            a.icon(href="#")

              span
                img(src="assets/images/icons/icon-button-start-map.svg" alt="")

              .icon-text SPUSTIT MAPU

      .section-container

        .section.section-text-info

          h2 Informace o období

          .section-text-info-content
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore


        .section.section-text-info
          h2 Didaktické a výzkumné cíle

          .section-text-info-content
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore

            ul.attachments
              li.attachment
                .icon
                  img(src="assets/images/icons/icon-file-type-docx.svg" alt="Microsoft Word Docx")
                .text
                  div.title Stáhnout
                  div.text
                    u Dokument Pracovní list

              li.attachment
                .icon
                  img(src="assets/images/icons/icon-file-type-pdf.svg" alt="Adobe PDF")
                .text
                  div.title Stáhnout
                  div.text
                    u Příprava

        .section.section-text-info

          h2 Témata/Kategorie

          .section-text-info-content
            p Zde bude krátký text popisující, proč mapa obsahuje témata. Tzn. to, co jsme doposud nazývali jako vrstvy. Pod nadpisem bude výpis jednotlivých vrstev, respektive jejich název a popis toho, co v rámci dané vrstvy člověk může očekávat.

            .layers-container

              .layer(style="background-color: #FFC1C1;")
                .title Místa fyzicky soufisející s Fučíkem
                .text Zde bude krátký text popisující, proč mapa obsahuje témata. Tzn. to, co jsme doposud nazývali jako vrstvy. Pod nadpisem bude výpis jednotlivých vrstev, respektive jejich název a popis toho, co v rámci dané vrstvy člověk může očekávat.

              .layer(style="background-color: #C1DBFF;")
                .title Místa fyzicky soufisející s Fučíkem
                .text Zde bude krátký text popisující, proč mapa obsahuje témata. Tzn. to, co jsme doposud nazývali jako vrstvy. Pod nadpisem bude výpis jednotlivých vrstev, respektive jejich název a popis toho, co v rámci dané vrstvy člověk může očekávat.

              .layer(style="background-color: #B7EBB9;")
                .title Místa fyzicky soufisející s Fučíkem
                .text Zde bude krátký text popisující, proč mapa obsahuje témata. Tzn. to, co jsme doposud nazývali jako vrstvy. Pod nadpisem bude výpis jednotlivých vrstev, respektive jejich název a popis toho, co v rámci dané vrstvy člověk může očekávat.


              .layer(style="background-color: #C1F5FF;")
                .title Místa fyzicky soufisející s Fučíkem
                .text Zde bude krátký text popisující, proč mapa obsahuje témata. Tzn. to, co jsme doposud nazývali jako vrstvy. Pod nadpisem bude výpis jednotlivých vrstev, respektive jejich název a popis toho, co v rámci dané vrstvy člověk může očekávat.


        .section.section-text-info

          h2 O objektech a místech mapy

          .section-text-info-content
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore


        .section.section-text-info

          h2 Jak se zapojit do projektu?

          .section-text-info-content
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore

            .section-text-info-content-footer

              a.button.button-send(href="#")
                .button-text Napište nám
                .button-icon
                  img(src="assets/images/icons/icon-button-send.svg" alt="Zaslat zprávu")

block foot


  footer.main-footer

    .footer-section.footer-section-social

      .section-newsletter

        h2.section-title Odebírejte náš newsletter

        .section-content


          input(type="text")

          button.button.button-submit PŘIHLÁSIT SE DO NEWSLETTERU


      .social-icons

        h2.section-title Jsme na sociálních sítích #mdhmapa

        .section-content

          .social-icons-list
            .social-icon
              .icon
                img(src="assets/images/icons/social-facebook.svg" alt="")
              .text Facebook

            .social-icon
              .icon
                img(src="assets/images/icons/social-instagram.svg" alt="")
              .text Instagram

            .social-icon
              .icon
                img(src="assets/images/icons/social-youtube.svg" alt="")
              .text Youtube


    .main-footer-content-in

      .footer-section.footer-section-links


        .col-sub

          .col

            .title Cíl aplikace MDH Mapa
            .content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


          .col

            .title Cíl aplikace MDH Mapa
            .content

              .logos

                .logo
                  .image
                    img(src="assets/images/icons/logo-ustr.svg" alt="")
                  .text Ústav pro studium totalitních režimů

                .logo
                  .image
                    img(src="assets/images/icons/logo-nm.svg" alt="")
                  .text Národní muzeum v Praze



        .col-sub

          .col




          .col

            .title Cíl aplikace MDH Mapa
            .content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


      .footer-section.footer-claim
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

