extends ./_partials/layout-full.pug
include ./components/object-card.pug


block vars
  - bodyClass = 'list-maps'

block main

  main


    section.section.section-padding(data-component="section")

      h1.typo-section-title.is-section-title VŠECHNY MAPY mdh

      h2.typo-subtitle.is-section-title Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.

      .list-in-section(data-component="list-map")

        .container-items.columns.is-multiline

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half

            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")



            h3.typo-subtitle.list-map-item-title test Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík


          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
                .map-item-action

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half

            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half

            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík

          article.column(data-component="list-map-item").is-one-quarter-widescreen.is-one-third-desktop.is-half


            figure
              a(href="map-detail.html")
                img(src="assets/images/dummy/map-thumb-image.png" alt="Topografie paměti – Julius Fučík")
              nav.list-map-nav.list-map-nav-symbols
                .map-item-symbol.timeline
                  img(src="assets/images/icons/icon-view-switch-timeline-large.svg")
                .map-item-symbol.objects
                  img(src="assets/images/icons/icon-view-switch-objects-large.svg")
                .map-item-symbol.map
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")
              nav.list-map-nav.list-map-nav-actions
                .map-item-symbol
                  img(src="assets/images/icons/icon-view-switch-map-large.svg")

            h3.typo-subtitle.list-map-item-title
              a(href="map-detail.html") Topografie paměti – Julius Fučík



    section.section.section-padding.alt-bg(data-component="section")


      .banner.banner-large.banner-save-objects-promo

        .banner-image

          img(src="assets/images/banner-icon-add-to-bookmark.svg")


        .banner-text
          h3.typo-section-title uložte si mapy a objekty a dále s nimi pracujte
          p.typo-subtitle Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.


      .banner.banner-about

        .banner-text

          h3.typo-section-title O našem projektu

          p.typo-subtitle Zde bude text, který stručně a jasně poskytne shrnutí toho, co uživatelé na jednotlivých mapách najdou a co s nimi mohou dělat. Nejde o to zde popsat technické aspekty map, ale právě ony uživatelské úkony, jenž mohou být pro uživatele zajímavé.


        .banner-image

          img(src="assets/images/box.svg")
