header.header-main()

      .logo-nav
        .logo
        nav.breadcrumbs
          a(href="#" ).item MDH Mapa  /
          a(href="#" ).item všechny mapy /
          span.item Julius Fučík – místa paměti Praha

      nav.main-nav

        a(href="#" ).item Domů
        a(href="#" ).item Mapy
        a(href="#" ).item Objekty
        a(href="#" ).item Blog
        a(href="#" ).item O projektu

      .user-actions-nav
        a(href="#").item Přihlásit
        a(href="#").item Napište nám
