header.header-main()

  
      nav.main-nav

        a(href="#" data-rel="#co-delame").item Co děláme
        a(href="#" data-rel="#jak-to-delame").item Jak to děláme
        a(href="#" data-rel="#proc-to-delame").item Proč to děláme
        a(href="#" data-rel="#reference").item Reference
        a(href="#" data-rel="#kontakt").item Kontakt
